<div class="infoarea">
  <div class="additionalchart-title">Kuukauden keskimääräinen</div>
  <div class="chart">
  </div>
  <a class="close">sulje</a>
  <div class="chart-xaxis-title">Kellonaika</div>
</div>
