<h3 class="selected building-info subheader">Energiankulutus</h3>

<div class="chart-collection">
    <div class="chart-unit">
        <div class="chart-title">S&auml;hk&ouml; <span class="electricity-consumption-total"></span></div>
        <div class="chart electricity-consumption">
        </div>
        <div class="chart-xaxis-title">Kuukausi</div>
    </div>
    <div class="chart-unit">
        <div class="chart-title">L&auml;mp&ouml;energia <span class="heating-consumption-total"></span></div>
        <div class="chart heating-consumption">
        </div>
        <div class="chart-xaxis-title">Kuukausi</div>
    </div>
</div>

<div class="first-infoarea"></div>

<h3 class="production subheader">Energiantuotanto</h3>

<div class="chart-collection">
    <div class="chart-unit">
        <div class="chart-title">S&auml;hk&ouml; <span class="electricity-production-total"></span></div>
        <div class="chart electricity-production">
        </div>
        <div class="chart-xaxis-title">Kuukausi</div>
    </div>
    <div class="chart-unit">
        <div class="chart-title">L&auml;mp&ouml;energia <span class="heating-production-total"></span></div>
        <div class="chart heating-production">
        </div>
        <div class="chart-xaxis-title">Kuukausi</div>
    </div>
</div>

<div class="second-infoarea"></div>

<h3 class="balance">Energiatase</h3>

<div class="chart-collection">
    <div class="chart-unit">
        <div class="chart-title">S&auml;hk&ouml; <span class="electricity-balance-total"></span></div>
        <div class="chart electricity-balance">
        </div>
        <div class="chart-xaxis-title">Kuukausi</div>
    </div>
    <div class="chart-unit">
        <div class="chart-title">L&auml;mp&ouml;energia <span class="heating-balance-total"></span></div>
        <div class="chart heating-balance">
        </div>
        <div class="chart-xaxis-title">Kuukausi</div>
    </div>
</div>

<div class="third-infoarea"></div>

<h3>Kustannukset</h3>
<div class="system-cost"></div>
