<div class="popover-text"><span>Kaikki lisätyt karttaobjektit poistetaan.</span></div>
<button type="button" class="btn cancel">Peruuta</button>
<button type="button" class="btn btn-warning" id="confirmClearAllMapObjectsButton">Poista</button>