<div class="instruction-panel">
	<p class="building-selection-helptext">
		Aloita lisäämällä kiinteistö oikealla olevaan karttaan.
	</p>
	<p class="energyproducer-selection-helptext">
		Valitse energiatuotantomahdollisuudet lisäämällä aurinkokeräin tai lämpökaivo.
	</p>
</div>