<div class='wide'>
    <div class='navbar navbar-inverse header'>
        <div class='navbar-inner'>
            <div class='container'>
                <span class='brand-header pull-left'>Energiatieto</span>
                <ul class="nav pull-right">
                  <li><a class='header-link pull-right' id='clearAllMapObjectsButton'>Aloita alusta</a></li>
                  <li><a class='header-link pull-right' id='welcome-link'>Ohje</a></li>
                </ul>
            </div>
        </div>  
    </div>  
    <div class='welcome-view'></div>
    <div class='map-panel'></div>
    <div class='panel right'>
        <div class='chart-area'>
        </div>
    </div>
    <div class='panel left'>
        <div class="control-form accordion" id="controlFormAccordion"></div>
    </div>
</div>
