<div class='btn-group'>
    <button id='consumption-nav-btn' class='btn active'>Kiinteistöt</button>
    <button id='solar-nav-btn' class='btn'>Aurinkoenergia</button>
    <button id='geo-nav-btn' class='btn'>Geoenergia</button>
</div>
