<ul class="nav nav-tabs">
    <li class="active navigation-btn" id="consumption-nav-btn"><a>Kiinteistöt</a></li>
    <li class="navigation-btn" id="solar-nav-btn" ><a>Aurinkoenergia</a></li>
    <li class="navigation-btn" id="geo-nav-btn" ><a>Geoenergia</a></li>
</ul>
