<div class="navigation"></div>
<form class="search">
    <input type="submit" value="Etsi" class="btn btn-inverse search-btn"></input>
    <span class="searchbox"><input type="text" class="input-xlarge" name="search" placeholder="Syötä osoite..."></span>
</form>
<div class="map-container"></div>

