<div class="system-cost-initial-investment">
  <div class="initial-investment-label">Alkuinvestointi</div>
  <span class="initial-investment" id="initial-investment"></span>
  <span class='euro'>€</span>
</div>
<div class="system-cost-chart-title">Kokonaiskustannukset (€)</div>
<div class="system-cost-line-chart"></div>
<div class="system-cost-xaxis-title">Vuosi</div>
