{{#if isSolar }}
<span class="btn"><img class="add-btn-icon" src="/images/mapMarkerAGlyph.png"></img>Lisää aurinkokeräin</span>
{{else}}
<span class="btn"><img class="add-btn-icon" src="/images/mapMarkerKGlyph.png"></img>Lisää lämpökaivo</span>
{{/if}}
